{% extends 'blog/base.html' %}


{% block content %}
    <h1>Welcome to CeylonBuzz</h1>
    <hr>
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-cirlce article-img" src="{{ object.author.profile.image.url }}" alt="">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small> <br>
                  {% if object.author == user %}

                    <div>
                        <a class="btn btn-outline-success" href="{% url 'blog-update' post.id %}">Update</a>
                        <a class="btn btn-outline-danger" href="{% url 'blog-delete' post.id %}">Delete</a>
                    </div>
                  {% endif %}
              </div>
              <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
              <p class="article-content">{{ object.content }}</p>
            </div>
            <br>
          </article>
    {% endfor %}
{% endblock content %}




